<div fxFlexFill fxLayoutAlign="center center" fxLayoutAlign.xs="center end" fxLayoutGap="10">   
    <mat-card appearance="raised" style="max-height: 90%;">
        <div fxFlex fxLayout="column" fxLayoutAlign="center">
            @if (isLoading) {
                <div class="spinner-overlay">
                  <mat-progress-spinner
                    mode="indeterminate"
                    diameter="50"
                    strokeWidth="5"
                    color="primary">
                  </mat-progress-spinner>
                </div>
            }
            <div fxFlex fxLayoutAlign="center" class="margin-bottom-12">
                <img src="../../assets/logo.png" alt="logo" style="width: 50%; object-fit: contain;">
            </div>
            <div class="padding-24 login-form" fxLayout="column" fxLayoutGap="14" [ngClass]="{'mobile-top-radius': isMobile, 'mobile-login-form': isMobile}">
                @if (isMobile) {
                    <h1 style="color: white; text-align: center;">Login</h1>
                }
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayout="column">
                    <mat-form-field appearance="fill">
                        <mat-label>Phone Number</mat-label>
                        <input matInput formControlName="phone_number" type="text" />
                    
                        @if (loginForm.controls.phone_number.errors?.['required'] && loginForm.controls.phone_number.touched) {
                            <mat-error>Username is required</mat-error>
                        }
                    </mat-form-field>
                  
                    <mat-form-field appearance="fill">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" [type]="isHidden ? 'text': 'password'" />
                        <button mat-icon-button 
                            matSuffix 
                            type="button" 
                            (click)="isHidden = !isHidden">
                            <mat-icon>{{ isHidden ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>

                        @if (loginForm.controls.password.errors?.['required'] && loginForm.controls.password.touched) {
                            <mat-error>Password is required</mat-error>
                        }
                        @if (loginForm.controls.password.errors?.['minlength'] && loginForm.controls.password.touched) {
                            <mat-error>Password must be at least 6 characters</mat-error>
                        }
                    </mat-form-field>
                  
                    <button mat-raised-button [disabled]="isLoading" type="submit" style="background-color: #E4F0A0; color: #000000;">
                        Login
                    </button>
                </form>
                @if (errorMessage) {
                    <mat-label style="text-align: center; color: #FE0000; word-wrap: break-word;">{{errorMessage}}</mat-label>
                }
                <div fxLayout="row" fxLayoutAlign="center center">
                    <mat-label>Don't have an account?</mat-label>
                    <mat-label
                        routerLink="/signup"
                        class="signup-btn"
                    >
                        Sign Up
                    </mat-label>
                </div>
            </div>
        </div>
    </mat-card>
</div>