<h2 mat-dialog-title>{{ isEditMode ? 'Edit' : 'Add' }} Facility</h2>

<mat-dialog-content class="padding-top-14">
  <mat-progress-bar *ngIf="loading"></mat-progress-bar>
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <form [formGroup]="facilityForm">
    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Facility Name</mat-label>
      <input matInput formControlName="facility_name" />
    </mat-form-field>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Phone Number</mat-label>
      <input matInput formControlName="phone_number" />
    </mat-form-field>

    <!-- Show these only when adding a new facility -->
    <ng-container *ngIf="!isEditMode">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" />
      </mat-form-field>
    </ng-container>

    <mat-form-field appearance="outline" style="width: 100%;">
      <mat-label>Total Bottles Collected</mat-label>
      <input type="number" matInput formControlName="total_bottles_collected" />
    </mat-form-field>

    <mat-checkbox color="primary" formControlName="status">
      Active
    </mat-checkbox>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()" color="warn">Cancel</button>
  <button mat-flat-button color="primary" (click)="onSave()" [disabled]="facilityForm.invalid || loading">
    Save
  </button>
</mat-dialog-actions>
