<div fxFlexFill fxLayout="column" class="background-color">
    <div fxLayout="column" fxLayoutGap="24" class="padding-14 background-color">
        <div 
            fxFlex
            fxLayout.xs="column" 
            fxLayout.gt-xs="row"
            fxLayoutGap="24">
            <mat-card fxFlex>
                <mat-card-header>
                    <div mat-card-avatar class="icon-image bottle"></div>
                    <mat-card-subtitle>Total Bottles Deposited</mat-card-subtitle>
                    <mat-card-title>{{data?.total_bottles}}</mat-card-title>
                </mat-card-header>

                <mat-card-content>
                    <mat-progress-bar mode="determinate" [value]="data?.total_bottles"></mat-progress-bar>
                    <p class="secondary-text">Great job! You've made a significant impact.</p>
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex>
                <mat-card-header>
                    <div mat-card-avatar class="icon-image redeem"></div>
                    <mat-card-subtitle>Available Points</mat-card-subtitle>
                    <mat-card-title>{{data?.available_points}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <button mat-flat-button id="redeem-btn">Redeem</button>
                    <p class="secondary-text">1 point = 10 minutes of charging time</p>
                </mat-card-content>
            </mat-card>
        </div>
        <mat-card>
            <div
                fxLayout="column" 
                class="padding-14"
                fxLayoutGap="24"
                >
                <h3>Your Environmental Impact</h3>
                <div
                    fxFlex
                    fxLayout.xs="column" 
                    fxLayout.gt-xs="row"
                    fxLayoutGap="24" 
                    fxLayoutGap="24" 
                    >
                    <mat-card fxFlex id="recycling-impact" appearance="outlined">
                        <mat-card-header>
                            <mat-icon mat-card-avatar svgIcon="scale" color="primary" style="width: 32px; height: 32px;"></mat-icon>
                            <mat-card-title>Recycling Impact</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <span class="primary">{{data?.recycling_impact}}</span>
                            <p>School chairs can be produced</p>
                            <p class="secondary-text" style="text-align: start;">50 bottles = 1 school chair</p>
                        </mat-card-content>
                    </mat-card>
    
                    <mat-card fxFlex id="waste-reduction" appearance="outlined">
                        <mat-card-header>
                            <mat-icon mat-card-avatar svgIcon="water-droplet" color="primary" style="width: 32px; height: 32px;"></mat-icon>
                            <mat-card-title>Waste Reduction</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <span class="primary">{{data?.waste_diverted}} kg</span>
                            <p>Plastic waste diverted</p>
                            <p class="secondary-text" style="text-align: start;">100 bottles = 2 kg of plastic waste</p>
                        </mat-card-content>
                    </mat-card>
    
                    <mat-card fxFlex id="flood-prevention" appearance="outlined">
                        <mat-card-header>
                            <mat-icon mat-card-avatar svgIcon="leaf" color="primary" style="width: 32px; height: 32px;"></mat-icon>
                            <mat-card-title>Energy Saved</mat-card-title>
                        </mat-card-header>
                        <mat-card-content>
                            <span class="primary">{{data?.energy_saved}} kWh</span>
                            <p>Energy saved by recycling bottles</p>
                            <p class="secondary-text" style="text-align: start;">1 bottle = 0.0058 kWh</p>
                        </mat-card-content>
                    </mat-card>
                </div>

                <div
                    fxFlex
                    fxLayout.xs="column" 
                    fxLayout.gt-xs="row"
                    fxLayoutGap="24"
                    >
                    <mat-card class="center" fxFlex appearance="outlined">
                        <mat-card-header>
                            <h3>Impact Summary</h3>
                        </mat-card-header>
                        <mat-card-content>
                            
                            <div fxFlex fxLayout="column" fxLayoutGap="14">
                                <div fxFlex fxLayout="column" fxLayoutGap="14">
                                    <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                                      <span>School Chairs</span>
                                      <span>{{ (data?.recycling_impact || 0) | number:'1.2-2' }}/{{ BOTTLES_PER_CHAIR }}</span>
                                    </div>
                                  
                                    <mat-progress-bar
                                      color="accent"
                                      mode="determinate"
                                      [value]="(((data?.recycling_impact || 0) / BOTTLES_PER_CHAIR) * 100)">
                                    </mat-progress-bar>
                                  </div>
                                  
                                  <div fxFlex fxLayout="column" fxLayoutGap="14">
                                    <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                                      <span>Waste Reduction</span>
                                      <span>{{ (data?.waste_diverted || 0) | number:'1.2-2' }}/{{ WASTE_TARGET_KG }}kg</span>
                                    </div>
                                  
                                    <mat-progress-bar
                                      color="blue"
                                      mode="determinate"
                                      [value]="(((data?.waste_diverted || 0) / WASTE_TARGET_KG) * 100)">
                                    </mat-progress-bar>
                                  </div>
                                  
                                  <div fxFlex fxLayout="column" fxLayoutGap="14">
                                    <div fxLayout="row" fxFlex fxLayoutAlign="space-between center">
                                      <span>Energy Saved</span>
                                      <span>{{ (data?.energy_saved || 0) | number:'1.2-2' }}/{{ ENERGY_TARGET_KWH }} kWh</span>
                                    </div>
                                  
                                    <mat-progress-bar
                                      color="accent"
                                      mode="determinate"
                                      [value]="(((data?.energy_saved || 0) / ENERGY_TARGET_KWH) * 100)">
                                    </mat-progress-bar>
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>

                    <mat-card class="center" fxFlex appearance="outlined">
                        <mat-card-header>
                            <h3>Monthly Recycling</h3>
                        </mat-card-header>
                        <mat-card-content class="chart">
                            <canvas baseChart
                                [data]="barChartData"
                                [options]="barChartOptions"
                                [plugins]="barChartPlugins"
                                [legend]="false"
                                [type]="'bar'">
                            </canvas>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </mat-card>
    </div>
</div>