<h2 mat-dialog-title>Mark as Picked Up</h2>
<mat-dialog-content  [formGroup]="requestForm">
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
    <mat-progress-bar *ngIf="loading"></mat-progress-bar>
    <p>You are marking the pickup request from {{data.school_name}}</p>
    <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Number of Bottles</mat-label>
        <input matInput type="number" formControlName="actual_bottles" />
    </mat-form-field>
    <p>Original Request: {{data.requested_bottles}}</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-flat-button color="primary" (click)="onSave()" [disabled]="requestForm.invalid || loading">Confirm Pickup</button>
</mat-dialog-actions>
